input:-webkit-autofill, input::-webkit-autofill:focus, :focus, input::focus:-webkit-autofill, input:-webkit-autofill:focus, input:focus:-webkit-autofill {

-webkit-box-shadow: inset 0 0px 1000px #fafafa !important;

}
